html{
    /* background-color: aliceblue; */
    background:url('https://c1.staticflickr.com/1/695/33397623376_7d88a81969_b.jpg') no-repeat center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
} 
    
body{
    
    margin: 0 auto;
    width: 960px;
    height: 450px;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
   
   /* background-color: rgb(196, 255, 251); */
}
header{
    background-color: aliceblue;
    margin-bottom: 10px;
    position: fixed;
    top: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 960PX;
    height:75px;

}
main{
    padding-right:15px;
    padding-left: 15px;
    margin-top: 95px;
    background-color: whitesmoke;
}

nav{
    position: relative;
    background-color: teal;
    padding: 25px; 
    float: left;
    height: 25px;
    font-size: 18px;
    color: aliceblue;

}
.leftCorner{
    margin-left: 666px;
    padding-top: 25;
    padding-right: 0;
    
}
.links{
    padding: 20px;
    font-size: 18px;
}
.links:hover{
    color: brown;
}
.lastlink{
    padding-right: 0;
    position: relative;
    right: 10px
}
h2{
    padding-top: 30px;
    color: rgb(17, 11, 190);
    font-size: 24px;
    margin-bottom: 20px;
}
hr{

    margin-bottom: 20px;
}

input{
    width: 910px;
    margin-top: 10px;
    margin-bottom: 10px;

}
.messageBx{
    height: 160px;
    text-align: start;
}
.SubmiBnt{
    padding: 10px;
    width: auto;
    background-color: teal;
    color: white;
    font-size: 16px;

}
footer{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: gray;
    padding-top: 30px;
    text-align: center;
    padding-bottom: 10px;
    border-top: solid;
    border-color: teal;
    border-width: 10px;

}


